nav {
  img {
    width: 80%;
  }

  ul.bottom-nav {
    display: flex;
    list-style: none;
    align-items: center;

    li {
      color: $colorwhite;
      margin-right: 40px;
      font-size: 14px;
      i {
        color: $colorwhite;
        font-size: 9px;
        vertical-align: middle;
      }
    }
  }

}
